<div class="dashboard-container">
    <h1>Admin Dashboard</h1>

    <div class="stats-cards">
        <div class="card">
            <h3>Total Products</h3>
            <p>{{ products.length }}</p>
        </div>
        <div class="card">
            <h3>Total Categories</h3>
            <p>{{ categories.length }}</p>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Products">
            <div class="tab-content">
                <div class="actions">
                    <button mat-raised-button color="primary" (click)="addProduct()">
                        <mat-icon>add</mat-icon> Add Product
                    </button>
                </div>

                <table mat-table [dataSource]="products" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="editProduct(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteProduct(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedProductColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedProductColumns;"></tr>
                </table>
            </div>
        </mat-tab>

        <mat-tab label="Categories">
            <div class="tab-content">
                <div class="actions">
                    <button mat-raised-button color="primary" (click)="addCategory()">
                        <mat-icon>add</mat-icon> Add Category
                    </button>
                </div>

                <table mat-table [dataSource]="categories" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="editCategory(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteCategory(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedCategoryColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedCategoryColumns;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>