<div class="sidebar" [class.open]="isOpen">
  <div class="logo">
    ShopHub
  </div>
  <nav>
    <a href="#" class="nav-item active">
      <span class="icon"><mat-icon>home</mat-icon></span>
      <span class="label">Home</span>
    </a>
    <a href="#" class="nav-item">
      <span class="icon"><mat-icon>inventory_2</mat-icon></span>
      <span class="label">Products</span>
    </a>
    <a href="#" class="nav-item">
      <span class="icon"><mat-icon>info</mat-icon></span>
      <span class="label">About</span>
    </a>
    <a href="#" class="nav-item">
      <span class="icon"><mat-icon>contact_support</mat-icon></span>
      <span class="label">Contact</span>
    </a>
  </nav>
</div>